.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.pagination-width {
    height: 50px;
    margin: auto;
}

.topandbottom_border {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 520px;
    height: 50px;
    margin: auto;
}

.page {
    color: #cccccc;
    height: 500px;
    max-width: 1440px;
    width: 100%;
  }

.before-PageBtn {
    margin-right: 15px;
}

.ActiveBtn {
    color: red;
    background-color: rgb(229, 221, 221);
    border-bottom: 2px solid red;
}

.InActiveBtn {
    color: rgb(229, 221, 221);
    background-color: white;
    border: 0;
}