.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.pagination-width {
    height: 50px;
    margin: auto;
}

.topandbottom_border {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 579px;
    height: 50px;
    margin: auto;
}

.page {
    color: #cccccc;
    height: 500px;
    max-width: 1440px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

.before-PageBtn {
    margin-right: 15px;
}